{% extends "base_generic.html" %}
{% block content %}

    <h1>ITN: {{deal.itn}}</h1>
    <p>SUM: {{deal.sum}}</p>
    <p{% if deal.itn %} class="text-danger"{% endif %}>Approved: {{deal.approve}}</p>

    <form action="" method="post">
        {% csrf_token %}
        <table>
        {{ form }}
        </table>
        <input type="submit" value="Submit" />
    </form>

{% endblock %}