{% extends "base_generic.html" %}

{% block content %}
    <h1>Deals List</h1>

    {% if object_list %}
    <ul>

      {% for deal in object_list %}
      <li>
        <a href="{{ deal.get_absolute_url }}">{{ deal.itn }}</a> Sum: {{deal.sum}}
      </li>
      {% endfor %}

    </ul>
    {% else %}
      <p>There are no deals in the repository.</p>
    {% endif %}       
{% endblock %}