{% extends "base_generic.html" %}

{% block title %}<title>ZVAG - Deals repository</title>{% endblock %}

{% block content %}
<h1>Deals repository</h1>

  <p>Welcome to <em>Deals repository</em></p>


  <p>The repository has the following record counts:</p>
  <ul>
    <li><strong>Deals:</strong> {{ num_deals }}</li>
    <li><strong>Clients:</strong> {{ num_clients }}</li>
    <li><strong>Unapproved_deals:</strong> {{ num_unapproved_deals }}</li>
    <li><strong>Employees:</strong> {{ num_employees }}</li>
  </ul>

{% endblock %}