{% extends "base_generic.html" %}

{% block title %}<title>Exporting</title>{% endblock %}

{% block content %}
<h1>Make your choice</h1>
{{ xml }}
  <p>Welcome to <em>export module</em></p>
 {% if result %}
     Objects present
 {% else %}
      <p>no deals </p>
 {% endif %}


{% endblock %}